{% extends 'base.html' %}


{% block title %}
  E-HAUS FINDER
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block navbar %}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('main') }}">
        <figure class="image">
          <img src="{{ url_for('static', filename='img/logo.png') }}">
        </figure>
      </a>
      <a class="navbar-item" href="{{ url_for('main') }}">
        <span class="is-size-5">E-HAUS FINDER</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a href="#">
            <img src="{{ url_for('static', filename='img/message_icon.png') }}" />
          </a>
        </div>
        <div class="navbar-item">
          <a href="#">
            <img src="{{ url_for('static', filename='img/user_icon.png') }}" />
          </a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Menu
          </a>

          <div class="navbar-dropdown is-right">
            <a class="navbar-item" onclick="aboutPage()">
              About
            </a>
            <a class="navbar-item">
              B
            </a>
            <a class="navbar-item">
              C
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              D
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </section>
{% endblock %}

{% block content %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script>
    function initMap() {
      let lat = {{ context['args']['lat'] }};
      let lng = {{ context['args']['lng'] }};
      let myLatLng = { lat: lat, lng: lng };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: myLatLng,
      });
      {% for listing in context['listings'] %}
      lat = {{ listing[4] }};
      lng = {{ listing[5] }};
      myLatLng = { lat: lat, lng: lng };
      new google.maps.Marker({
        position: myLatLng,
        map,
        title: "{{ listing[1] }}",
      });
      {% endfor %}
    }
  </script>

  <section id="main" class="section" style="padding-right: 0; padding-bottom: 0; margin-right: 0; margin-bottom: 0;">
    <div class="columns">

      <div class="column is-7" style="padding-bottom: 0; margin-bottom: 0;">
        <!-- Row 1-->
        <div class="columns level">
          <div class="column is-1 level-item"></div>
          <button class="button is-dark column is-2 level-item">Homes</button>
          <button class="button is-ghost column is-2 level-item">Roommates</button>
          &nbsp;&nbsp;&nbsp;&nbsp;IN&nbsp;
          <div class="control column is-2 level-item">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGxfxbrmi3CXefFbev0mtAHByzM7kF0sw&libraries=places"></script>
            <input id="locationTextField" class="input" type="text" placeholder="LOCATION">
          </div>
          <div class="column is-3"></div>
        </div>

        <!-- Row 2 -->
        <div class="columns level mt-4">
          <div class="column is-1 level-item"></div>
          <button class="button is-ghost column is-2 level-item">Lease length</button>
          <button class="button is-ghost column is-2 level-item">Move-in date</button>
          <button class="button is-ghost column is-2 level-item">Budget</button>
          <button class="button is-ghost column is-2 level-item"><figure class="image is-16x16" style="display:inline-flex;"><img src="{{ url_for('static', filename='img/filter_icon.png') }}" /></figure>&nbsp;More filters</button>
          <div class="column is-1 level-item"></div>
        </div>

        <!-- Row 3 -->
        <div class="column is-size-4 mt-6 mb-5">TOP MATCHES</div>

        <!-- Row 4 -->
        <div class="columns level">

          <div class="column is-2 level-item">
            <section class="hero">
              <div class="hero-body">
                <figure class="image is-64x64">
                  <img src="{{ url_for('static', filename='img/previous_icon.png') }}" />
                </figure>
              </div>
            </section>
          </div>
          <div class="column is-8 level-item">
            <div class="columns is-multiline is-variable is-6">
              <!-- Cards here -->
                {% for listing in context['listings_short_list'] %}
                <div class="card column is-6">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="#" onclick="showHouseDetails('{{ listing[1].capitalize() }}', '{{ listing[7] }}', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.7aCy-o6NiPeir3w1_fhumwHaGu%26pid%3DApi&f=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.M6v6ps2g1rBCOpqGklqkmAHaIX%26pid%3DApi&f=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cyRndEwA_vszAjl-1qZtNQHaHK%26pid%3DApi&f=1', '{{ listing[8] }}')">
                        <img src="{{ listing[7] }}" alt="Placeholder image">
                      </a>
                    </figure>
                  </div>
                </div>
                {% endfor %}
              </a>
            </div>
          </div>
          <div class="column is-2 level-item">
            <section class="hero">
              <div class="hero-body">
                <figure class="image is-64x64">
                  <img src="{{ url_for('static', filename='img/forward_icon.png') }}" />
                </figure>
              </div>
            </section>
          </div>

        </div>

        <!-- Row 5 -->
        <div class="columns mt-6 mb-5">
          <div class="column is-10 is-size-4">EXPLORE HOMES</div>
          <div class="column is-2">
            <div class="dropdown is-right" onclick="toggleIsActive(this)">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Sort by</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item">
                    Lease length
                  </a>
                  <a class="dropdown-item">
                    Move-in date
                  </a>
                  <a href="#" class="dropdown-item">
                    Price
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Row 6 -->
        <div class="box">
          <!-- More content here -->
          <article class="media">
            <div class="media-left">
              <figure class="image is-1by1" style="width:192px;">
                <img src="{{ context['some_house_pic'] }}" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level">
                  <!-- Hardcoded cause forgot to add to db and it was kinda late xP -->
                  <strong>Single-family</strong>
                  <a class="level-right" aria-label="like">
                    <span class="icon is-large">
                      <i class="fas fa-heart fa-2x has-text-danger" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                2 bedrooms&nbsp;&nbsp;&bullet;&nbsp;1 bath&nbsp;&nbsp;&bullet;&nbsp;for lease
              </div>
              <div class="columns">
                <div class="column is-1" style="padding-bottom: 0; margin-bottom: 0;"><hr style="padding-bottom: 0; margin-bottom: 0;" /></div>
              </div>
              Available now
              <div class="level">
                <div class="level-right">&nbsp;</div>
                <div class="level-right">500 sqft</div>
              </div>
              <div class="level">
                <div class="level-right">&nbsp;</div>
                <div class="level-right">$2000</div>
              </div>
            </div>
          </article>
        </div>

      </div>

      <div class="column is-5" style="padding-bottom: 0; margin-bottom: 0;">
        <div id="map" style="height: 100vh;"></div>
      </div>

    </div>
  </section>

  <!-- Modal -->
  <div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p id="modal-card-title" class="modal-card-title"></p>
        <button class="delete" aria-label="close" onclick="hideModal()"></button>
      </header>
      <section class="modal-card-body">

        <div class="tile is-ancestor">
          <div class="tile is-horizontal">

            <div class="tile is-parent">
              <div class="tile is-child box">
                <figure class="image">
                  <img id="modal-primary-image" src="https://bulma.io/images/placeholders/480x480.png" alt="Image" />
                </figure>
              </div>
            </div>
            <div class="tile is-5 is-vertical">

              <div class="tile is-parent">
                <div class="tile is-child box">
                  <figure class="image">
                    <img id="modal-image-1" src="https://bulma.io/images/placeholders/128x128.png" alt="Image" />
                  </figure>
                </div>
                <div class="tile is-child box">
                  <figure class="image">
                    <img id="modal-image-2" src="https://bulma.io/images/placeholders/128x128.png" alt="Image" />
                  </figure>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <figure class="image">
                    <img id="modal-image-3" src="https://bulma.io/images/placeholders/128x128.png" alt="Image" />
                  </figure>
                </div>
                <div class="tile is-child box">
                  <figure class="image">
                    <img id="modal-image-4" src="https://bulma.io/images/placeholders/128x128.png" alt="Image" />
                  </figure>
                </div>
              </div>
              <!-- Button? -->
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <figure class="image">
                    <img id="modal-image-button" src="https://bulma.io/images/placeholders/720x240.png" alt="Image" />
                  </figure>
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="content">
                <p class="subtitle">info icons here</p>
              </div>
            </article>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="content">
                <p class="subtitle">Description</p>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="content">
                <p class="subtitle">Features</p>
                <hr />
                <p class="subtitle">House rules</p>
              </div>
            </article>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>

  <section id="about-section" class="section is-hidden">
    <div class="columns block content">
      <div class="column is-1"></div>
      <div class="column is-5">
        <h1>About us</h1>
        We work on Channelinzing the incoming and outgoing of the students accomodation across America. We strongly belive that the Ecomerce Home industry has a huge potential when it comes to delivering the right rent to owners and great stay
        for students.<br>
        Our vision is to provide a safe platform for everyone, who needs house for rents through online means without going physically and without broker fees. We are here to push the idea of recycling and reusing
        to new heights by bridging the gap between collectors and the buyers.
        <br><br>
        <h3> Join us in our journey on making America a better and safer housing place.</h3>
        <blockquote>"Home is where love resides, memories are created, friends always belong, and laughter never ends."</blockquote>
      </div>
      <div class="column is-1"></div>
      <div class="column is-4">
        <figure class="image">
          <img src="{{ url_for('static', filename='img/s3.jpg') }}" style="border-radius: 25px;" />
        </figure>
      </div>
      <div class="column is-1"></div>
    </div>

    <div class="columns block content mt-6">
      <div class="column is-1"></div>
      <div class="column is-10">

        <h2> What we do?</h2>
        <hr>
        E-Commerce for housing is a site that connects international students with homeowners and roommates at their desired location. Students can specify their city of choice, housing needs, and price range, and browse through matches that are best suited to
        them. Landlords can also use this website to create their own listings and find tenants that will be right for them by matching with students. We hope this site will change the way students and homeowners look at housing and create better
        communities.
        <p class="subtitle has-text-weight-semibold">
          <br> Why owner should rent?
          <br> What students get from rented house?
        </p>
        This website makes us unique by how we're using the QR Echo thing to help foreign students have an easier time finding housing. "You never know what you'll get when finding a house in another country. At HomeSweetHome, we want to
        take the mystery out of the equation and make this big decision seamless. We use Echo AR technology to give you a new way of trying out your new home. Pick up your phone, scan the QR code, and ta da! Just like that you're testing out your
        living space without even getting on the plane" Our team is always looking out for new sustainable business models which aren't only viable but also socially beneficial.Join us in our journey in making America's housing a better and safer
        place. Join us today with a journey of thousand miles begins with a single step.So,be ready let's do something in the favour of our students and owners.
        <br><br>
        <p class="subtitle has-text-weight-semibold">
          Get Set & See your perfect home today!!!
        </p>

      </div>

      <div class="column is-1"></div>
    </div>

    <div class="columns block content">
      <div class="column is-1"></div>
      <figure class="column image">
        <img src="{{ url_for('static', filename='img/s1.jpg') }}" style="border-radius: 25px;" alt="Scrap collectors">
      </figure>
      <div class="column is-1"></div>
      <figure class="column image">
        <img src="{{ url_for('static', filename='img/s2.jpg') }}" style="border-radius: 25px;" alt="Scrap collectors">
      </figure>
      <div class="column is-1"></div>

    </div>

    <div class="columns block content">
      <div class="column is-1"></div>
      <div class="column is-10">
        <h2>How does it work?</h2>
        <div>Infinity Scrapers is a service which helps you to sell your old stuff in an organized manner instead of just throwing it away.</div>
        <div>It is as easy as calling or dropping us a note and.. Kaboom! You get rid of your stuff just like that!
      </div>
      <div class="column is-1"></div>
    </div>

  </section>


  <!--
    For the google map thing on the right.
    Async script executes immediately and must be after any DOM elements used in callback.
  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGxfxbrmi3CXefFbev0mtAHByzM7kF0sw&callback=initMap&libraries=&v=weekly"
    async
  ></script>
{% endblock %}
