<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <meta charset="utf-8">
    <title>Let's Finish Your Profile!</title>
  </head>
<body>
    <header>
        <h1>The Basics</h1>
    </header>
    <form action = "/sign-up-step-2-2" method = POST>
        <fieldset>
            <legend>Post Image</legend>
            <label for = "inputimage"></label>
            Input Image: 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <input type='file' id="imgInp" />
            <img id="blah" src="#" alt="your image" />
            <script>
                function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    
                    reader.onload = function(e) {
                    $('#blah').attr('src', e.target.result);
                    }
                    
                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
                }
        
                $("#imgInp").change(function() {
                readURL(this);
                });
            </script>

 <figure class="image is-128x128">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </label>
        </div>
        <div class="column is-7 is-offset-3">
          <textarea class="textarea" name="postdescription" placeholder="Put your description here!"></textarea>
        </div>
        <div class="field is-grouped">
          <div class="control column is-7 is-offset-3">
            <button id="step2-next" class="button is-link" onclick="finishStep2()">Next</button>
          </div>
        </div>
    </form>
</body>
</html>