<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Let's Finish Your Profile!</title>
  </head>
<body>
    <header>
        <h1>The Basics</h1>
    </header>
    <form>
        <fieldset>
            <legend>Post Image</legend>
            <label for = "inputimage"></label>
            Input Image: 
            <input type="file" name ="inputimage"/>
            </br>
            Post Description:
            <input type="text" name ="postdescription"/>
            </br>
        <input type = "Submit" value ="Submit Image Post">
    </form>
</body>
</html>